<a href="https://colab.research.google.com/github/SebastianCH77/UF3/blob/main/Actividad_3_4%20(Valores%20nulos)/Act_3_2_Valores_Nulos_PARTE_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files
files.upload()

In [3]:
#Leer el archivo
df = pd.read_csv('Base_Socio_Formador_Con_Nulos.csv', encoding="latin")

In [4]:
#Mostrar las primeras 15 filas incluyendo todas las columnas
df.head(15)

,fecha,precio,año_hecho,año_renovado,metros_cuadrados,pisos,habitaciones,baños,calle,codigo_zip,estado,ciudad
0,24/06/2019,"$260,070",01/01/1982,2016.0,762.0,1.0,4.0,2.0,2400 WALNUT RIDGE ST,75229.0,TX,DALLAS
1,18/07/2019,"$456,280",01/01/1982,2016.0,866.0,2.0,4.0,2.0,10400 BIG THICKET DR,75217.0,TX,DALLAS
2,31/07/2019,"$237,820",01/01/1982,2016.0,814.0,1.0,5.0,3.0,9200 DARTWOOD LN,75225.0,TX,DALLAS
3,14/08/2019,"$231,000",01/01/1980,2016.0,680.0,1.0,4.0,2.0,4800 SIMCOE ST,75228.0,TX,DALLAS
4,31/07/2019,"$1,410,820",01/01/1980,2016.0,1018.0,2.0,4.0,2.0,6926 STEFANI DR,75225.0,TX,DALLAS
5,16/07/2019,"$740,220",01/01/1980,2016.0,792.0,2.0,4.0,3.0,7800 MATTISON ST,75217.0,TX,DALLAS
6,28/06/2019,"$275,830",01/01/1980,2016.0,640.0,2.0,4.0,2.0,400 SUNNYSIDE AVE,75211.0,TX,DALLAS
7,27/06/2019,"$355,420",01/01/1980,2016.0,399.0,2.0,2.0,1.0,200 KITTIWAKE CIR,75211.0,TX,DALLAS
8,24/07/2019,"$390,780",01/01/1979,2016.0,503.0,1.0,3.0,2.0,11600 TUSCANY WAY,75218.0,TX,DALLAS
9,11/07/2019,"$1,152,800",01/01/1977,2016.0,716.0,1.0,3.0,2.0,2400 51ST ST,75216.0,TX,DALLAS
10,07/06/2019,"$678,110",01/01/1977,2016.0,920.0,2.0,5.0,3.0,2901 MAGNOLIA HILL CT,75201.0,TX,DALLAS
11,25/07/2019,"$281,880",01/01/1977,2016.0,735.0,1.0,4.0,2.0,9821 COUNTY CORK DR,75218.0,TX,DALLAS
12,20/06/2019,"$225,820",01/01/1977,NaN,448.0,1.0,NaN,2.0,NaN,75208.0,TX,DALLAS
13,07/06/2019,"$552,190",01/01/1977,2016.0,945.0,2.0,3.0,2.0,515 ERVAY ST,NaN,TX,DALLAS
14,21/07/2019,"$457,280",01/01/1973,2016.0,421.0,2.0,NaN,NaN,444 OAK HOLLOW DR,NaN,TX,DALLAS

In [5]:
#Verificar el tipo de datos de cada columna para su posterior análisis
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fecha             4347 non-null   object
 1   precio            4328 non-null   object
 2   año_hecho         4349 non-null   object
 3   año_renovado      4339 non-null   float64
 4   metros_cuadrados  4333 non-null   float64
 5   pisos             4340 non-null   float64
 6   habitaciones      4348 non-null   float64
 7   baños             4346 non-null   float64
 8   calle             4333 non-null   object
 9   codigo_zip        4339 non-null   float64
 10  estado            4353 non-null   object
 11  ciudad            4340 non-null   object
dtypes: float64(6), object(6)
memory usage: 408.8+ KB

In [6]:
#Se identifican valores nulos por cada columna
valores_nulos=df.isnull().sum()
valores_nulos

fecha               12
precio              31
año_hecho           10
año_renovado        20
metros_cuadrados    26
pisos               19
habitaciones        11
baños               13
calle               26
codigo_zip          20
estado               6
ciudad              19
dtype: int64

In [7]:
#Realizamos una copia del dataframe para guardarlo posteriormente y mantener el original aparte
df2=df.copy()

**FECHA**

In [8]:
#Averiguando cuál es la fecha más reciente de la columna "fecha" utilizando el formato de datetime
df2['fecha'] = pd.to_datetime(df2['fecha'])
df2['fecha'].max()

<ipython-input-8-20ba46f224b9>:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df2['fecha'] = pd.to_datetime(df2['fecha'])

Timestamp('2019-08-15 00:00:00')

In [9]:
#Aplicando el método de sustitución de valores nulos por un string en concreto, en este caso se tomará la fecha más reciente ya que puede ser la más representativa para un análisis reciente
df2["fecha"] =df2["fecha"].fillna("2019-08-15 00:00:00")

**PRECIO**

In [10]:
#Para la columna de 'precio' empezamos por convertir a formato numérico quitando algunos símbolos como '$' y ','
df['precio'] = pd.to_numeric(df['precio'].replace({'\$': '', ',': ''}, regex=True), errors='coerce')

In [11]:
 #Dado que los precios tienen una distribución sesgada con minimos y máximos se aplicará el método de sustitución de valores nulos con la mediana, esto permite no verse afectada por valores atípicos
df2["precio"]=df2["precio"].fillna(round(df["precio"].median(),1))

**AÑO HECHO**

In [12]:
#Verificando los valores de la columna año_hecho
df2['año_hecho'].value_counts()

año_hecho
01/01/2005    100
01/01/2006     98
01/01/2007     96
01/01/2008     83
01/01/2004     82
             ...
01/01/1903      5
01/01/1902      4
01/01/1915      3
01/01/1900      2
01/01/1916      1
Name: count, Length: 118, dtype: int64

In [13]:
#Se aplica el método de sustitución de valores nulos por un string en concreto, en este caso por la fecha más repetida que fue 01/01/2005
df2["año_hecho"] =df2["año_hecho"].fillna("01/01/2005")

**AÑO RENOVADO**

In [14]:
#Para la columna año_renovado los valores nulos podrían tener significado si la la propiedad no se ha renovado, por lo que sustituirá por un valor numérico en concreto, en este caso "0"
df2["año_renovado"] =df2["año_renovado"].fillna(0.0)

**MTS CUADRADOS**

In [15]:
#Se alica el método de sustitución de valores nulos con la media de la columna metros_cuadrados ya que el área puede tener variaciones importantes
df2["metros_cuadrados"]=df2["metros_cuadrados"].fillna(round(df["metros_cuadrados"].mean(),1))

**PISOS**

In [16]:
#Comprobando el número de pisos que se repiten más en las propiedades
df2["pisos"].mode().iloc[0]

2.0

In [17]:
# Debido a que las propiedades suelen tener un número limitado de pisos y 1 es el valor más repetio es 2 se aplica el método de sustitución de valores nulos por un valor numérico en  concreto, en este caso 2.0
df2["pisos"]= df2["pisos"].fillna(2.0)

**HABITACIONES**

In [18]:
#Comprobando el número de habitacines que se repiten más en las propiedades
df2["habitaciones"].mode().iloc[0]

3.0

In [19]:
#De manera similar, el valor más repetido en número de habitaciones es 3, se aplica el método de sustitución de valores nulos por un valor numérico en  concreto, en este caso 3.0
df2["habitaciones"]= df2["habitaciones"].fillna(3.0)

**BAÑOS**

In [20]:
#Comprobando el número de baños que se repiten más en las propiedades
df2["baños"].mode().iloc[0]

3.0

In [21]:
#De manera similar, el valor más repetido en número de baños es 3, se aplica el método de sustitución de valores nulos por un valor numérico en  concreto, en este caso 3.0
df2["baños"]= df2["baños"].fillna(3.0)

**CALLE**

In [22]:
#Para la calle, al ser una dirección muy particular se opta por mantener los valores nulos utilizando el método de sustitución de valores nulos por un string llamado "Sin dirección"
df2["calle"] =df2["calle"].fillna("SIN DIRECCION")

**ZIP**

In [23]:
#Verificando cuál es el ZIP que más se repite y cuántas veces
valor_mas_repetido = df2["codigo_zip"].mode().iloc[0]
frecuencia = df2["codigo_zip"].value_counts().max()

print(f"ZIP más repetido: {valor_mas_repetido}")
print(f"Se repite {frecuencia} veces")

ZIP más repetido: 75217.0
Se repite 535 veces

In [24]:
#Empleando el método de sustitución de valores nulos por un valor numérico en  concreto, en este caso asignaremos el ZIP 75217.0 ya que fue el más repetido
df2["codigo_zip"]= df2["codigo_zip"].fillna(75217.0)

**ESTADO**

In [25]:
#Se hace un filtro para comprobar a qué estado y ciudad pertenece el ZIP número 75217 para hacer la sustitución
df2[df2["codigo_zip"] == 75217.0]

,fecha,precio,año_hecho,año_renovado,metros_cuadrados,pisos,habitaciones,baños,calle,codigo_zip,estado,ciudad
1,2019-07-18,"$456,280",01/01/1982,2016.0,866.0,2.0,4.0,2.0,10400 BIG THICKET DR,75217.0,TX,DALLAS
5,2019-07-16,"$740,220",01/01/1980,2016.0,792.0,2.0,4.0,3.0,7800 MATTISON ST,75217.0,TX,DALLAS
13,2019-06-07,"$552,190",01/01/1977,2016.0,945.0,2.0,3.0,2.0,515 ERVAY ST,75217.0,TX,DALLAS
14,2019-07-21,"$457,280",01/01/1973,2016.0,421.0,2.0,3.0,3.0,444 OAK HOLLOW DR,75217.0,TX,DALLAS
24,2019-07-23,"$417,890",01/01/1951,2016.0,460.0,1.0,3.0,2.0,900 GAUSE LN,75217.0,TX,DALLAS
...,...,...,...,...,...,...,...,...,...,...,...,...
4317,2019-07-23,"$175,600",01/01/1931,0.0,457.0,2.0,6.0,1.0,9300 CORIANDER PL,75217.0,TX,DALLAS
4325,2019-07-23,"$453,130",01/01/1930,0.0,408.0,1.0,3.0,2.0,1333 THORNE ST,75217.0,TX,DALLAS
4336,2019-07-18,"$588,420",01/01/1929,0.0,600.0,2.0,3.0,1.0,500 PLEASANT VISTA DR,75217.0,TX,DALLAS
4340,2019-07-16,"$463,340",01/01/1929,0.0,671.0,1.0,3.0,2.0,8700 MILVERTON DR,75217.0,TX,DALLAS
4356,2019-07-16,"$881,200",01/01/1927,0.0,817.0,2.0,5.0,3.0,1700 RIDGEDORF DR,75217.0,TX,DALLAS

In [26]:
#Se hace la sutitución del valor nulo en estado por TX ya que es el estado donde se encuentra el ZIP 75217
df2["estado"] =df2["estado"].fillna("TX")

**CIUDAD**

In [27]:
#Finalmente se hace la sutitución del valor nulo en ciudad por DALLAS ya que es el estado donde se encuentra el ZIP 75217
df2["ciudad"] =df2["ciudad"].fillna("DALLAS")

In [28]:
#Corroboramos valores nulos
valores_nulos=df2.isnull().sum()
valores_nulos

fecha               0
precio              0
año_hecho           0
año_renovado        0
metros_cuadrados    0
pisos               0
habitaciones        0
baños               0
calle               0
codigo_zip          0
estado              0
ciudad              0
dtype: int64

In [29]:
#Corroboramos valores nulos
valores_nulos=df2.isnull().sum().sum()
valores_nulos

0

In [34]:
df2

,fecha,precio,año_hecho,año_renovado,metros_cuadrados,pisos,habitaciones,baños,calle,codigo_zip,estado,ciudad
0,2019-06-24,"$260,070",01/01/1982,2016.0,762.0,1.0,4.0,2.0,2400 WALNUT RIDGE ST,75229.0,TX,DALLAS
1,2019-07-18,"$456,280",01/01/1982,2016.0,866.0,2.0,4.0,2.0,10400 BIG THICKET DR,75217.0,TX,DALLAS
2,2019-07-31,"$237,820",01/01/1982,2016.0,814.0,1.0,5.0,3.0,9200 DARTWOOD LN,75225.0,TX,DALLAS
3,2019-08-14,"$231,000",01/01/1980,2016.0,680.0,1.0,4.0,2.0,4800 SIMCOE ST,75228.0,TX,DALLAS
4,2019-07-31,"$1,410,820",01/01/1980,2016.0,1018.0,2.0,4.0,2.0,6926 STEFANI DR,75225.0,TX,DALLAS
...,...,...,...,...,...,...,...,...,...,...,...,...
4354,2019-07-04,457650.0,01/01/1928,0.0,305.0,1.0,2.0,1.0,1301 HAMEL ST,75212.0,TX,DALLAS
4355,2019-06-14,"$257,360",01/01/1928,0.0,299.0,1.0,2.0,1.0,3501 WORD ST,75204.0,TX,DALLAS
4356,2019-07-16,"$881,200",01/01/1927,0.0,817.0,2.0,5.0,3.0,1700 RIDGEDORF DR,75217.0,TX,DALLAS
4357,2019-08-05,"$877,080",01/01/1927,0.0,576.0,2.0,4.0,2.0,8024 ROTHINGTON RD,75227.0,TX,DALLAS
4358,2019-08-14,"$660,180",01/01/1927,0.0,393.0,1.0,3.0,1.0,8201 BARBAREE BLVD,75228.0,TX,DALLAS

In [35]:
#Convertir DataFrame a CSV
df2.to_csv("'Base_Socio_Formador_sin_nulos.csv")

In [36]:
#Descargar el archivo filtrado en csv
from google.colab import files
files.download("'Base_Socio_Formador_sin_nulos.csv")